DialogueSample/Saved/
DialogueSample/Intermediate/
DialogueSample/DerivedDataCache/
DialogueSample/Binaries/
DialogueSample/.vs/
DialogueSample/Plugins/SequenceDialogue/Binaries/
DialogueSample/Plugins/SequenceDialogue/Intermediate/
